@charset "utf-8";
@import url("./styleChecker.css");

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

input {
  width: 100%;
  height: 2rem;
}

.container {
  text-align: center;
  overflow: hidden;
  /*width: 600px;*/
  margin: 0 auto;
}

.container table {
  width: 100%;
  font-size: 0.8rem;
}

.container td, .container th {
  padding: 0.4rem;
}

.container td:first-child, .container th:first-child {
  padding-left: 0.2rem;
}

.container td:last-child, .container th:last-child {
  padding-right: 0.2rem;
}

.container th {
  border-bottom: 1px solid #ddd;
  position: relative;
}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows : 8fr 6fr;
  grid-template-areas :
    "icon title"
    "icon url";
}
.griditem {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /*max-width: 0;*/
}
.icon {
  grid-area: icon;
}
.title {
  grid-area: title;
}
.url {
  grid-area: url;
}


